@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-MediumItalic.ttf) 
}

@font-face {
    font-family: "PoppinsBold";
    src: url(../fonts/Poppins-ExtraBoldItalic.ttf) 
}



body {
    background-image: url(../img/fond_bleu.jpg);
    background-size: auto;
    background-position: center;
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra*/
    -ms-user-select: none; /* Internet explorer, Edge */
    user-select: none; /* Propriété standard */
}


.register{
    text-align: center;
    font-family: 'PoppinsBold', sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px 2px black;
}


.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;

}

#username{
    margin-bottom: 1rem;
    font-family: "Poppins";
    border-radius: 10px;
    border: solid black 1px;
    text-align: center;
}

#password{
    margin-bottom: 1rem;
    font-family: "Poppins";
    border-radius: 10px;
    border: solid black 1px;
    text-align: center;
}

#cpassword{
    font-family: "Poppins";
    border-radius: 10px;
    border: solid black 1px;
    text-align: center;
}


.save{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background: #6225E6;
    border: solid black 1px;
    font-family: "Poppins";
    color: white;
}

.err{
    background-color: rgba(242, 24, 24, 0.5); 
    border: solid rgb(242, 24, 24) 1px;
    margin-top: 1rem;
    padding: 1rem;
}

.hidden{
    visibility: hidden;
}